apiVersion: apps/v1
kind: Deployment
metadata:
  name: deployment
  labels:
    project: roboshop
    purpose: deployment-headless
spec:
  replicas: 4
  selector:
    matchLabels:
      project: roboshop
      purpose: deployment-headless
  template:
    metadata:
      labels:
        project: roboshop
        purpose: deployment-headless
    spec:
      containers:
      - name: nginx
        image: nginx:latest
---
apiVersion: v1
kind: Service
metadata:
  name: nginx-headless
spec:
  clusterIP: None
  selector:
    project: roboshop
    purpose: deployment-headless
  ports:
  - protocol: TCP
    port: 80
    targetPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: nginx
spec:
  type: LoadBalancer
  selector:
    project: roboshop
    purpose: deployment-headless
  ports:
  - protocol: TCP
    port: 80
    targetPort: 80